@media screen and (min-width:400px) and (max-width:700px) {
    .nav-container{ 
        flex-direction: column;
        
    }
    .logo-items{
        margin: 0 auto;
    }
    .btn-items{
        margin: 0 auto;
    }
    .banner-container{
        flex-direction: column;
    
    }
    .text-content{
        width: 100%;
    }
    .img-content{
        width: 100%;
    }
    .product-container{
        grid-template-columns:repeat(2,1fr) ;
    }
    .disc{
        left: 200px;
    }
}



/* mobile devices */
@media screen and (max-width:400px) {

    nav{
        width: 100%;
    }
    .nav-container{ 
        flex-direction: column;
        
    }

    .nav-container .logo-items{
        margin: 0 auto;
    }

    .nav-container .btn-items{
       flex-direction: column;
       width: 100%;
    }
    .nav-container .btn-items a{
        padding: 10px;
        
    }
    
    .nav-container .login{
       width: 100%;
       text-align: center;
    }
    .banner-container{
        flex-direction: column;
    
    }
    .text-content{
        width: 100%;
    }
    .img-content{
        width: 100%;
    }
    .product-container{
        grid-template-columns:repeat(1,1fr) ;
    }
    .single-product{
        width: 100%;
    }
    .discount-container{
        flex-direction: column;
    }
    .disc{
        left: 230px;
    }
    .footer{
        width: 100%;
    }
    .footer .foot{
        flex-direction: column;
    }

}
