
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
nav{
    background-color: #9376e0;
}
.nav-container{
    max-width: 1300px;
    min-height: 10px;
    display: flex;
    margin: 0 auto;
    padding: 15px 0;
}
.logo-items{
    display: flex;
    width: 50%;
    gap: 5px;
    align-items: center;
}
.logo-items p{
    font-size: 25px;
    color: white;
}
.logo-items img{
  width:40px;
  object-fit: cover;
  
}
.hive{
    color: #e893cf;
    
}
.btn-items{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.btn-items a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    
  
}
.nav-container .login{
    background-color:#e893cf ;
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    font-weight: 700;
}
/* banner styles */

.banner-container{
    max-width: 1300px;
    min-height: 90px;
    margin: 30px auto;
    background-color: #e6e9eb;
    border-radius: 10px;
    display: flex;
}
.text-content{
    width: 50%;
    text-align: center;
    padding: 70px 0 20px;
}
.img-content{
    width: 50%;
}
.img-content img{
    width: 100%;
    padding: 10px;
}
.banner-container h1{
    font-size: 50px;
    background-image: linear-gradient(to bottom,#9376e0,#e893cf);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 15px;

}
.banner-container p{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    
}
.btn-primary{
    background: transparent;
    padding: 10px 20px;
    border:2px solid #9376e0;
    border-radius: 5px;
    margin-right: 20px;
}
.banner-icon{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;

}
.banner-icon .icon{
    padding: 0 10px;
}
.fa-facebook{
    color: blue;
}
.fa-twitter{
    color: skyblue;
}
.fa-youtube{
    color: red;
}
.fa-instagram{
    color: purple;
}