
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
nav{
    background-color: #9376e0;
}
.nav-container{
    max-width: 1200px;
    min-height: 10px;
    display: flex;
    margin: 0 auto;
    padding: 15px 0;
}
.logo-items{
    display: flex;
    width: 50%;
    gap: 5px;
    align-items: center;

}
.logo-items p{
    font-size: 25px;
    color: white;
    
}
.logo-items img{
  width:40px;
  object-fit: cover;
  
}
.hive{
    color: #e893cf;
    
}
.btn-items{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.btn-items a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    
  
}
.nav-container .login{
    background-color:#e893cf ;
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    font-weight: 700;
}
/* banner styles */

.banner-container{
    max-width: 1300px;
    min-height: 90px;
    margin: 30px auto;
    background-color: #e6e9eb;
    border-radius: 10px;
    display: flex;
}
.text-content{
    width: 50%;
    text-align: center;
    padding: 70px 0 20px;
}
.img-content{
    width: 50%;
}
.img-content img{
    width: 100%;
    padding: 10px;
}
.banner-container h1{
    font-size: 50px;
    background-image: linear-gradient(to bottom,#9376e0,#e893cf);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 15px;

}
.banner-container p{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    
}
.btn-primary{
    background: transparent;
    padding: 10px 20px;
    border:2px solid #9376e0;
    border-radius: 5px;
    margin-right: 20px;
}
.banner-icon{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;

}
.banner-icon .icon{
    padding: 0 10px;
}
.fa-facebook{
    color: blue;
}
.fa-twitter{
    color: skyblue;
}
.fa-youtube{
    color: red;
}
.fa-instagram{
    color: purple;
}

/* product section */

.product-container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    max-width: 1300px;
    margin: 20px auto;
}
.single-product{
    width: 300px;
    background-color: rgba(112, 128, 144, 0.281);
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 2px 2px 4px black;
    margin-top: 20px;
}
.single-product img{
    width: 90%;
    margin-left: 15px;
   
}
.product-container p{
    font-size: 15px;
    margin-top: 20px;
}
.product-name-icon{
    display: flex;
    justify-content: space-between;
}
.fa-cart-shopping{
    background-color: #e893cf;
    padding: 10px;
    border-radius: 50%;
}
.fa-credit-card{
   background-color:green;
   padding: 10px;
   border-radius: 50%;
}
.fa-eye{
    background-color: purple;
    padding: 10px;
    border-radius: 50%;
}

/* Discount styles */
.discount-container{
    width: 100%;
    min-height:70vh;
    background-color: #9376e0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
}
.buy{
    border: 2px solid white;
    background: transparent;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}
.discount-text button, p{
    margin-top: 20px;
}
.disc{
    width: 80px;
    height: 80px;
    background-color: rgb(189, 189, 18);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.discount-img{
    position: relative;
}
.discount-img img{
    width: 90%;
}

/* Customer review styles */

.customer-review-container{
    max-width: 1300px;
    min-height: 200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cutomer-name{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.custom-card{
    width: 300px;
    background-color: #e893cf;
    padding: 10px;
    border-radius: 10px;
    
}
.cutomer-name img{
    width: 20%;
}